<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>Brandcheck Blog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/main.min.css">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
</head>

<body>

<header class="blog-header py-3" style="background-color: #FFFF10">
    <div class="container">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1 p-blog">
                <p>Глобальная децентрализованная</p>
                <p class="UpperCase">Платформа оригинальных товаров и брендов</p>
            </div>
            <div class="col-4 text-center">
                <a href="/">
                    <!--<img src="img/logo.svg" alt="Logo">-->
                    <svg width="160" height="37" viewBox="0 0 160 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 26.3546V6.22681H5.6962C7.64557 6.22681 9.16456 6.66605 10.1772 7.57038C11.2152 8.47471 11.7215 9.84413 11.7215 11.7303C11.7215 12.6863 11.519 13.539 11.1392 14.2883C10.7595 15.0117 10.1772 15.5543 9.3924 15.9161L9.41772 15.9677C10.4051 16.2003 11.1392 16.7429 11.5949 17.5697C12.0506 18.3965 12.2785 19.3783 12.2785 20.4894C12.2785 22.4789 11.7975 23.9517 10.8101 24.9077C9.82279 25.8637 8.35443 26.3546 6.40506 26.3546H0ZM3.77215 14.7275H5.72152C6.48101 14.7275 7.06329 14.5208 7.41772 14.0816C7.77215 13.6423 7.97468 12.9964 7.97468 12.092C7.97468 11.136 7.79747 10.4384 7.44304 9.99915C7.08861 9.58575 6.50633 9.3532 5.6962 9.3532H3.77215V14.7275ZM3.77215 17.4663V23.2024H6.40506C7.13924 23.2024 7.64557 22.9698 8 22.4789C8.32911 21.988 8.50633 21.3162 8.50633 20.4377C8.50633 19.4817 8.35443 18.7324 8.05063 18.2415C7.74684 17.7247 7.26582 17.4663 6.58228 17.4663H3.77215Z" fill="#181719"/>
                        <path d="M20.6076 14.96L19.2152 14.9083C18.8355 14.9083 18.5317 15.0117 18.3038 15.1926C18.076 15.3734 17.8735 15.6576 17.7469 16.0194V26.3546H13.9747V11.3944H17.519L17.6456 13.3322H17.6963C17.9494 12.6346 18.2532 12.092 18.633 11.7044C19.0127 11.3169 19.4684 11.136 20 11.136C20.1519 11.136 20.3292 11.1618 20.5317 11.1877C20.7089 11.2135 20.8861 11.2652 21.038 11.3169L20.6076 14.96Z" fill="#181719"/>
                        <path d="M28.962 26.3549C28.8608 26.0965 28.7848 25.8381 28.7089 25.5539C28.6329 25.2697 28.557 24.9855 28.5063 24.6754C28.1519 25.2697 27.7469 25.7606 27.2912 26.0965C26.8101 26.4582 26.2532 26.6391 25.6203 26.6391C24.4557 26.6391 23.519 26.2515 22.8355 25.4506C22.1519 24.6496 21.7975 23.5644 21.7975 22.195C21.7975 20.6964 22.2279 19.5337 23.0886 18.7585C23.9494 17.9575 25.2658 17.57 27.038 17.57H28.3544V16.3556C28.3544 15.6063 28.2532 15.0637 28.0253 14.6761C27.7975 14.2885 27.4684 14.1077 26.9874 14.1077C26.5823 14.1077 26.2785 14.2627 26.1013 14.5728C25.9241 14.8828 25.8228 15.3221 25.8228 15.9422H22.0253C22.0253 14.5728 22.481 13.4359 23.4177 12.5316C24.3544 11.6272 25.6203 11.188 27.1899 11.188C28.6836 11.188 29.8481 11.6272 30.7595 12.5316C31.6456 13.4101 32.1013 14.7278 32.1013 16.4331V22.4792C32.1013 23.2285 32.1519 23.9003 32.2532 24.5204C32.3544 25.1405 32.5063 25.7865 32.7089 26.4324H28.962V26.3549ZM26.6836 23.6677C27.038 23.6677 27.3418 23.5644 27.6203 23.3835C27.8988 23.2027 28.1266 22.9443 28.3291 22.6084V19.792H27.0127C26.481 19.792 26.1013 19.9987 25.8734 20.4122C25.6456 20.8256 25.5443 21.3423 25.5443 22.0141C25.5443 22.5309 25.6456 22.9184 25.8481 23.2285C26.0507 23.5127 26.3291 23.6677 26.6836 23.6677Z" fill="#181719"/>
                        <path d="M37.9747 11.3944L38.1266 13.203L38.1772 13.2289C38.557 12.5571 39.0126 12.0403 39.5443 11.6786C40.0759 11.3169 40.6835 11.136 41.3671 11.136C42.557 11.136 43.4937 11.6011 44.1266 12.5312C44.7848 13.4614 45.1139 14.9858 45.1139 17.0787V26.3804H41.3418V17.0529C41.3418 16.0194 41.2152 15.2959 40.962 14.8825C40.7089 14.4691 40.3038 14.2624 39.7215 14.2624C39.4177 14.2624 39.1392 14.3399 38.8861 14.4949C38.6329 14.65 38.4304 14.8825 38.2278 15.1667V26.3546H34.4557V11.3944H37.9747Z" fill="#181719"/>
                        <path d="M46.9874 18.9395C46.9874 16.5366 47.3925 14.6245 48.1773 13.2293C48.9621 11.8082 50.1267 11.1106 51.6203 11.1106C52.152 11.1106 52.633 11.2398 53.0381 11.4982C53.4431 11.7565 53.8229 12.1183 54.152 12.5833L54.2026 12.5575V4.78027H58.0001V26.355H54.7089L54.4558 24.8306H54.4305C54.076 25.4248 53.671 25.8899 53.2153 26.1741C52.7596 26.4842 52.2279 26.6392 51.595 26.6392C50.1013 26.6392 48.9621 25.9674 48.1773 24.6497C47.3925 23.332 46.9874 21.5233 46.9874 19.2495V18.9395ZM50.7596 19.2495C50.7596 20.619 50.8862 21.6525 51.1646 22.3759C51.4431 23.0994 51.8988 23.4611 52.5824 23.4611C52.9368 23.4611 53.2406 23.3836 53.5191 23.2028C53.7975 23.0477 54.0254 22.7894 54.2026 22.4535V15.4772C54.0001 15.0896 53.7722 14.7796 53.5191 14.5729C53.2659 14.3662 52.9621 14.2628 52.633 14.2628C51.9494 14.2628 51.4684 14.6762 51.19 15.5289C50.9115 16.3557 50.7596 17.5184 50.7596 18.9653V19.2495Z"
                              SVG namespace
                              www.w3.org

                              fill="#181719"/>
                        <path d="M109.595 19.9983C109.595 22.1946 109.038 23.8482 107.975 24.9334C106.911 26.0186 105.367 26.5612 103.342 26.5612C101.367 26.5612 99.8481 25.9411 98.7848 24.7008C97.7215 23.4606 97.1898 21.6261 97.1898 19.2232V13.2029C97.1898 10.8258 97.7215 8.99135 98.8101 7.72528C99.8987 6.45922 101.392 5.83911 103.316 5.83911C105.367 5.83911 106.911 6.38171 107.949 7.4669C108.962 8.5521 109.519 10.2316 109.57 12.5053H105.823C105.873 11.2393 105.696 10.3349 105.342 9.79232C104.987 9.24973 104.304 8.99135 103.342 8.99135C102.532 8.99135 101.924 9.32724 101.544 9.99903C101.165 10.6708 100.962 11.7302 100.962 13.1771V19.2232C100.962 20.7218 101.139 21.7812 101.494 22.4529C101.848 23.0989 102.481 23.4348 103.342 23.4348C104.253 23.4348 104.886 23.1764 105.291 22.6596C105.696 22.1429 105.848 21.2644 105.823 20.0242H109.595V19.9983Z" fill="#181719"/>
                        <path d="M115.165 12.8158H115.215C115.57 12.2473 115.975 11.8081 116.456 11.498C116.937 11.188 117.494 11.0329 118.076 11.0329C119.342 11.0329 120.304 11.5497 121.013 12.5832C121.696 13.6167 122.051 15.2445 122.051 17.5183V26.2774H118.279V17.4924C118.279 16.2264 118.152 15.3737 117.899 14.9086C117.646 14.4436 117.241 14.211 116.658 14.211C116.329 14.211 116.051 14.2885 115.798 14.4177C115.544 14.5469 115.342 14.7536 115.165 15.012V26.3032H111.392V4.70264H115.165V12.8158Z" fill="#181719"/>
                        <path d="M129.468 26.5355C127.747 26.5355 126.38 25.9154 125.392 24.701C124.405 23.4866 123.899 21.9105 123.899 20.0243V17.9315C123.899 15.8644 124.354 14.2108 125.291 12.9447C126.228 11.6787 127.544 11.0327 129.291 11.0327C130.962 11.0327 132.253 11.6012 133.139 12.7639C134.025 13.9266 134.456 15.5285 134.456 17.5697V19.9727H127.671V20.0243C127.671 21.0579 127.848 21.8588 128.202 22.4789C128.557 23.0991 129.114 23.4091 129.899 23.4091C130.759 23.4091 131.418 23.3316 131.848 23.1507C132.304 22.9699 132.759 22.7115 133.24 22.3239L134 25.0369C133.519 25.502 132.886 25.8637 132.101 26.1221C131.342 26.4063 130.456 26.5355 129.468 26.5355ZM129.291 14.185C128.734 14.185 128.329 14.4692 128.076 15.0118C127.848 15.5544 127.696 16.3553 127.671 17.3372H130.759V16.7946C130.759 15.9419 130.633 15.296 130.405 14.8567C130.202 14.4175 129.823 14.185 129.291 14.185Z" fill="#181719"/>
                        <path d="M141.721 23.4093C142.228 23.4093 142.608 23.2026 142.911 22.7892C143.215 22.3758 143.342 21.8073 143.291 21.0322H146.81C146.861 22.6858 146.38 24.0035 145.418 25.0112C144.43 26.0189 143.24 26.5098 141.797 26.5098C139.949 26.5098 138.557 25.8897 137.62 24.6495C136.683 23.4093 136.228 21.7815 136.228 19.7144V17.8024C136.228 15.7612 136.683 14.1076 137.62 12.8674C138.557 11.6013 139.949 10.9812 141.772 10.9812C143.342 10.9812 144.582 11.498 145.494 12.5315C146.405 13.565 146.835 15.0119 146.785 16.8723H143.266C143.291 16.0196 143.19 15.3478 142.911 14.8569C142.633 14.366 142.228 14.1076 141.696 14.1076C140.987 14.1076 140.532 14.4177 140.304 15.0378C140.101 15.6579 139.975 16.5622 139.975 17.7508V19.6628C139.975 20.8772 140.076 21.7815 140.278 22.4016C140.506 23.1251 140.987 23.4093 141.721 23.4093Z" fill="#181719"/>
                        <path d="M153.165 20.0504H152.456V26.2774H148.684V4.70264H152.456V16.9498H153.139L155.266 11.3172H159.595L156.101 18.0092L160 26.2774H155.671L153.165 20.0504Z" fill="#181719"/>
                        <path d="M77.7216 1.08521C76.8861 1.88618 71.3924 5.55518 63.8481 5.55518V21.9623C63.8735 29.4036 76.3798 35.5014 77.7216 36.1215C79.038 35.5014 91.5697 29.4036 91.595 21.9623V5.55518C84.0507 5.55518 78.557 1.88618 77.7216 1.08521Z" fill="#F8F7F9"/>
                        <path d="M92.3797 7.88037L77.7974 19.4816L69.1139 12.5829V18.4481L77.7974 25.3469L92.3797 13.7456V7.88037Z" fill="#181719"/>
                        <path d="M77.7216 37L77.3925 36.845C76.7089 36.5349 73.1899 34.8038 69.8228 32.22C65.6963 29.0419 63.4431 25.8638 63.114 22.7374L63.0634 22.2982V21.9623V4.78003H63.8482C71.1646 4.78003 76.4558 1.21439 77.1899 0.51676L77.7216 0L78.2532 0.51676C78.9874 1.21439 84.2532 4.78003 91.595 4.78003H92.3798V22.1173L92.3292 22.7891C92.0001 25.9155 89.7469 29.0936 85.6203 32.2717C82.2532 34.8554 78.7342 36.5608 78.0507 36.8967L77.7216 37ZM64.633 21.7039V21.9623C64.6583

	27.4658 72.7089 32.8401 77.7216 35.2689C82.7342 32.8401 90.7849 27.4916 90.8102 21.9623V21.6006V6.35615C84.3292 6.14944 79.4431 3.38478 77.7216 2.11872C76.0001 3.38478 71.114 6.14944 64.633 6.35615V21.7039Z" fill="#181719"/>
                    </svg>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <ul>
                    <li><a href="#">Регистрация</a></li>
                    <li><a href="#">Проверить товар!</a></li>
                    <li><a href="#">Защитить свой товар</a></li>
                </ul>
                <!--<a href="#" class="btn btn-sm btn-outline-secondary">Войти</a>-->
                <!--<a class="btn btn-sm btn-outline-secondary" href="#">Регистрация</a>-->
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="info-block p-3 p-md-5">
        <div class="col-md-12 px-0">
            <h1 class="display-4">Охота на фэйки началась!</h1>
            <!--<img src="img/logo-busters" alt="Fake busters" class="logo-fake-busters">-->
            <svg width="167" height="82" viewBox="0 0 167 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                    <path d="M29.6702 15.0676H19.4034L19.4034 21.6834H28.0261C28.6688 21.6322 29.3074 21.8234 29.8164 22.2195C30.012 22.4025 30.1655 22.6259 30.2665 22.8741C30.3674 23.1223 30.4133 23.3895 30.401 23.6571C30.4125 23.924 30.3649 24.1902 30.2618 24.4366C30.1586 24.683 30.0024 24.9036 29.8042 25.0826C29.2952 25.4683 28.6628 25.6546 28.0261 25.6065H19.4034L19.4034 34.1351C19.4857 34.9982 19.2376 35.8603 18.7092 36.5475C18.4711 36.8048 18.1802 37.0077 17.8565 37.1423C17.5329 37.2768 17.1839 37.3399 16.8336 37.3272C16.4753 37.3471 16.117 37.2875 15.7843 37.1527C15.4517 37.0179 15.1529 36.8113 14.9094 36.5475C14.3631 35.8587 14.1016 34.9866 14.1786 34.1108L14.1786 14.2392C14.1541 13.6093 14.2663 12.9817 14.5075 12.3994C14.7189 11.9381 15.0913 11.5699 15.5549 11.3638C16.1336 11.1257 16.7563 11.0136 17.3817 11.0348H29.6702C30.3396 10.9815 31.0046 11.1815 31.5336 11.5953C31.7339 11.7785 31.8921 12.003 31.9972 12.2533C32.1024 12.5036 32.1519 12.7738 32.1425 13.0452C32.1539 13.3203 32.1053 13.5947 32.0001 13.8493C31.895 14.1038 31.7358 14.3325 31.5336 14.5194C31.0023 14.9278 30.3379 15.1233 29.6702 15.0676Z" fill="#D80027"/>
                    <path d="M49.8995 33.9648L48.6816 30.724H38.1955L36.9776 34.0379C36.6821 34.9584 36.273 35.8383 35.7597 36.6574C35.5565 36.8964 35.2988 37.083 35.0085 37.2017C34.7182 37.3205 34.4036 37.3678 34.0912 37.3397C33.7502 37.3422 33.4124 37.2729 33.0998 37.1365C32.7873 37.0001 32.5068 36.7995 32.2766 36.5478C32.0422 36.3422 31.8538 36.0894 31.7236 35.806C31.5935 35.5225 31.5246 35.2148 31.5215 34.903C31.5261 34.5303 31.5877 34.1605 31.7042 33.8064C31.8178 33.4328 32.0127 32.9089 32.2888 32.2347L38.9019 15.4456L39.5839 13.7034C39.8029 13.1143 40.0846 12.5506 40.4243 12.022C40.7373 11.568 41.1551 11.1961 41.6422 10.9377C42.1975 10.6472 42.8182 10.5046 43.4446 10.5234C44.0792 10.5003 44.7089 10.6431 45.2715 10.9377C45.7556 11.1949 46.1727 11.5621 46.4894 12.0098C46.7902 12.4487 47.0433 12.9184 47.2445 13.4109C47.4474 13.9145 47.7073 14.5806 48.0239 15.4091L54.698 32.1616C55.1194 33.0309 55.3872 33.9667 55.4896 34.9273C55.4803 35.2334 55.4098 35.5345 55.2822 35.8128C55.1546 36.0912 54.9725 36.3411 54.7467 36.5478C54.5146 36.7914 54.2347 36.9842 53.9245 37.1142C53.6143 37.2442 53.2805 37.3086 52.9442 37.3032C52.5788 37.3135 52.216 37.2384 51.8846 37.0839C51.5958 36.9424 51.342 36.7385 51.1417 36.4869C50.8766 36.1093 50.6597 35.7 50.4962 35.2685C50.2689 34.7974 50.07 34.3628 49.8995 33.9648ZM39.5352 26.8008H47.2566L43.3594 16.1279L39.5352 26.8008Z" fill="#D80027"/>
                    <path d="M64.6116 13.764V22.8287L74.8906 12.107C75.2619 11.69 75.6695 11.3068 76.1085 10.9618C76.5216 10.6973 77.0073 10.5694 77.4969 10.5963C78.1688 10.5655 78.8256 10.802 79.3238 11.2542C79.5461 11.4583 79.7229 11.707 79.8425 11.9842C79.9621 12.2613 80.0219 12.5606 80.018 12.8624C79.9834 13.3058 79.8574 13.7372 79.6477 14.1293C79.4381 14.5215 79.1495 14.8659 78.8001 15.1408L72.4305 21.2326L79.7378 31.7472C80.1981 32.3485 80.6056 32.9885 80.9557 33.66C81.205 34.1555 81.3383 34.7013 81.3455 35.2561C81.3455 35.5401 81.2847 35.8209 81.167 36.0794C81.0494 36.3379 80.8776 36.5682 80.6634 36.7547C80.1558 37.1964 79.4964 37.4236 78.8244 37.3882C78.1986 37.4168 77.5788 37.2554 77.0463 36.9252C76.5569 36.6122 76.1413 36.1965 75.8284 35.7069L74.9881 34.2935L68.8864 24.6806L64.5995 28.7865V34.1108C64.6769 34.9887 64.4106 35.8623 63.8565 36.5475C63.6132 36.8048 63.318 37.0074 62.9904 37.1419C62.6629 37.2763 62.3105 37.3395 61.9566 37.3273C61.5026 37.3262 61.057 37.2043 60.6657 36.974C60.2662 36.7525 59.937 36.4232 59.7157 36.0236C59.5414 35.6651 59.438 35.2762 59.4112 34.8784C59.4112 34.4397 59.4112 33.8103 59.4112 32.9899L59.4112 13.764C59.3324 12.8937 59.5798 12.0252 60.1054 11.3273C60.3451 11.0646 60.6394 10.8575 60.9677 10.7207C61.2959 10.5839 61.6501 10.5206 62.0053 10.5353C62.3617 10.5173 62.7177 10.5778 63.0481 10.7125C63.3785 10.8472 63.6753 11.053 63.9174 11.3151C64.4572 12.0107 64.706 12.8886 64.6116 13.764Z" fill="#D80027"/>
                    <path d="M130
SVG namespace
www.w3.org

48.6578L129.915 48.5725C128.587 53.2203 125.913 57.3708 122.23 60.5003C119.978 62.4338 117.362 63.8975 114.537 64.8055C111.711 65.7136 108.733 66.0476 105.776 65.788C93.0007 64.5697 83.4768 52.6784 84.5729 39.1301C84.8012 35.8284 85.6869 32.6056 87.1782 29.6512C88.6694 26.6969 90.736 24.0706 93.2564 21.9267C97.2833 18.4827 102.403 16.5826 107.701 16.5659C108.358 16.5659 109.016 16.5659 109.674 16.6512C113.61 17.0536 117.378 18.4558 120.62 20.7246C123.862 22.9934 126.47 26.0536 128.198 29.6147L134.287 23.9005C131.795 19.6492 128.331 16.0493 124.18 13.3957C120.029 10.7421 115.308 9.11038 110.404 8.63433C106.384 8.28494 102.334 8.74185 98.4924 9.97829C94.6507 11.2147 91.0943 13.2058 88.0317 15.8349C84.6943 18.6621 81.9542 22.1269 79.9718 26.0265C77.9893 29.926 76.8043 34.182 76.4861 38.5453C75.0246 56.5041 87.849 72.3794 105.046 73.878C105.955 73.9592 106.86 73.9998 107.762 73.9998C114.974 73.9749 121.941 71.3837 127.418 66.6896C130.191 64.3624 132.554 61.5867 134.409 58.4778L130 48.6578Z" fill="#D80027"/>
                    <path d="M80.4076 38.6428C82.1126 43.4431 84.5849 45.8677 87.4105 49.8274C91.0641 55.0055 91.3564 62.1695 96.2767 66.5312C96.3552 66.6138 96.4497 66.6795 96.5543 66.7245C96.659 66.7694 96.7717 66.7926 96.8857 66.7926C96.9996 66.7926 97.1123 66.7694 97.217 66.7245C97.3216 66.6795 97.4161 66.6138 97.4946 66.5312C99.5384 63.9482 102.174 61.8962 105.179 60.549C107.092 59.6718 109.881 59.1966 111.573 57.9539C113.266 56.7112 116.287 51.3138 118.162 55.3344C118.274 55.5261 118.457 55.6658 118.672 55.7228C118.886 55.7799 119.115 55.7498 119.307 55.639C124.848 52.2154 130.463 48.9258 136.211 45.892C139.061 44.3569 141.923 42.8705 144.883 41.5547C146.539 40.8236 149.011 40.1901 150.315 38.789C153.591 35.2557 150.826 31.1132 146.442 32.161C142.057 33.2088 138.123 36.34 134.263 38.326C128.419 41.1894 122.253 43.341 115.897 44.7346C106.093 47.1713 96.8491 50.1442 89.9802 57.9661C89.2738 58.7702 90.4552 59.952 91.1981 59.1845C102.403 46.2941 120.708 47.147 135.067 39.7027C137.502 38.4844 144.14 33.1723 146.831 33.7084C148.057 36.9573 147.53 38.8864 145.248 39.4956L144.03 39.983C142.337 41.0673 140.096 41.8592 138.294 42.7852C134.226 44.893 130.219 47.1226 126.261 49.4375C125.25 50.0223 121.463 52.9464 120.33 52.983C117.736 53.0804 119.417 52.6296 117.833 51.594C114.984 49.7421 112.889 49.1573 111.086 52.8124C110.794 53.4094 111.33 54.2257 111.086 54.7374C110.063 56.8817 109.284 56.7721 107.554 57.698C105.119 59.0261 102.5 59.6231 100.174 61.3532C96.5203 64.0214 96.6055 65.788 94.0845 60.6465C92.6717 57.8199 91.8923 54.7009 90.5039 51.8621C88.0681 46.7571 83.9882 43.7599 81.9787 38.1798C81.6255 37.1807 80.0179 37.6071 80.371 38.6184L80.4076 38.6428Z" fill="#2B3990"/>
                    <path d="M102.561 49.0482C115.444 38.5885 130.049 30.4541 145.723 25.0097C145.843 24.9726 145.954 24.9092 146.047 24.8243C146.14 24.7394 146.212 24.6349 146.26 24.5184C146.308 24.402 146.329 24.2764 146.323 24.1507C146.316 24.025 146.282 23.9023 146.222 23.7914C143.787 18.2478 140.864 12.3996 134.165 11.7051C126.139 10.8767 116.786 15.3602 109.393 17.9188C108.383 18.2722 108.821 19.8804 109.832 19.5271C116.798 17.0903 126.48 12.4362 133.922 13.4352C137.32 13.9226 143.324 17.8335 143.665 22.1709C143.908 25.0341 138.257 25.887 135.712 26.9713C123.357 32.3001 111.799 39.3156 101.368 47.8176C100.527 48.4877 101.721 49.6573 102.585 49.036L102.561 49.0482Z" fill="#2B3990"/>
                    <path d="M79.141 22.853C82.9774 21.062 87.8733 19.7949 90.4187 16.3957C91.7827 14.6168 90.4918 13.3985 93.2929 15.7134C94.8291 17.1802 96.2884 18.7256 97.6651 20.3432C99.5529 22.2926 101.319 24.4978 104.181 24.7171C109.052 25.107 114.996 20.8793 118.796 18.2719C119.672 17.6628 118.796 16.2129 117.955 16.8343C115.698 18.4467 113.311 19.8689 110.818 21.0864C106.483 23.1332 103.255 23.4622 99.8573 20.1848C97.5677 17.9674 95.4851 14.5194 92.6961 12.8746C91.3199 12.0826 91.0763 11.9364 89.761 12.5822C89.6271 12.6431 89.6392 12.8868 89.5418 12.9477C89.6392 12.8868 87.24 16.6028 87.6054 16.2129C85.1696 18.7349 81.5159 19.868 78.325 21.3666C77.3507 21.8174 78.2032 23.2551 79.1654 22.8043L79.141 22.853Z"

                          fill="#2B3990"/>
                    <path d="M114.923 16.2494C111.074 13.9467 99.09 8.52497 104.948 2.68898C105.036 2.59809 105.102 2.4886 105.141 2.36863C105.181 2.24867 105.193 2.12133 105.177 1.99607C105.16 1.87081 105.116 1.75086 105.047 1.64512C104.978 1.53939 104.886 1.45059 104.778 1.38533C103.353 0.53247 102.013 -0.564063 100.417 0.337531C98.481 1.43406 98.1766 3.01794 95.7286 3.65149C94.9004 3.8708 93.987 3.76115 93.2928 4.37033C91.7826 5.62525 92.3794 8.52497 92.8788 10.1454C93.987 13.6421 96.7882 15.7255 99.9182 17.346C100.868 17.8333 101.708 16.3956 100.759 15.9083C98.3227 14.6899 95.5094 12.972 94.6691 10.1576C94.2428 8.68336 94.7665 6.05168 96.1062 5.28411C96.5766 5.1917 97.0526 5.13065 97.5311 5.10135C98.0955 4.9488 98.6249 4.68812 99.09 4.33378C101.282 2.73772 100.856 0.983266 103.962 2.81082L103.791 1.50716C96.5324 8.74428 108.833 14.6168 114.119 17.6871C114.307 17.767 114.517 17.7746 114.711 17.7085C114.904 17.6424 115.066 17.5072 115.165 17.329C115.265 17.1508 115.295 16.942 115.251 16.7427C115.206 16.5435 115.089 16.3678 114.923 16.2494Z" fill="#2B3990"/>
                    <path d="M107.993 11.0465C104.339 14.263 99.7478 16.8215 96.7275 20.7081C95.3756 22.4382 91.0764 29.4804 93.4513 31.6735C96.2159 34.1955 98.8344 27.1167 99.6382 25.5816C102.744 19.7212 106.398 16.5048 111.415 12.3745L110.051 11.3632C107.615 17.0896 103.694 21.8047 101.891 27.8478C101.599 28.7981 102.89 29.2245 103.414 28.4935C107.132 23.2545 110.754 17.9506 114.277 12.5816L112.755 11.9359C111.22 16.5779 107.883 22.6331 109.101 27.6041C109.148 27.7596 109.239 27.8982 109.363 28.0032C109.487 28.1082 109.638 28.175 109.799 28.1956C109.96 28.2162 110.124 28.1897 110.27 28.1194C110.416 28.049 110.539 27.9377 110.624 27.799C113.673 23.5251 116.161 18.8777 118.028 13.9705L116.396 13.7512L116.202 19.2948C116.202 20.367 117.834 20.367 117.87 19.2948L118.065 13.7512C118.065 12.7522 116.75 12.7034 116.433 13.5319C114.6 18.2906 112.164 22.7946 109.186 26.934L110.709 27.1289C109.613 22.7306 113.011 16.456 114.363 12.3379C114.667 11.3998 113.339 10.9368 112.84 11.6922C109.357 17.0855 105.752 22.4057 102.025 27.6528L103.548 28.2986C105.314 22.426 109.138 17.7962 111.549 12.2161C111.637 12.042 111.661 11.8429 111.618 11.6528C111.575 11.4628 111.467 11.2935 111.314 11.1741C111.16 11.0547 110.969 10.9924 110.774 10.998C110.58 11.0036 110.393 11.0767 110.246 11.2048C107.615 13.3979 104.692 15.2986 102.476 17.9181C99.9549 20.9031 98.9684 25.0699 96.4595 27.9331C95.7288 28.7737 95.2416 29.6631 95.0711 27.7137C94.9737 26.6903 96.1672 24.7166 96.6666 23.815C97.5905 22.1972 98.7663 20.7372 100.15 19.4898C102.975 16.8703 106.239 14.7869 109.174 12.1795C109.978 11.4729 108.797 10.2911 107.956 10.9612L107.993 11.0465Z" fill="#2B3990"/>
                    <path d="M139.853 27.6167C140.085 28.0029 140.396 28.3351 140.766 28.5914C141.091 28.7546 141.425 28.901 141.765 29.03C141.875 29.0919 141.998 29.128 142.125 29.1357C142.251 29.1434 142.377 29.1224 142.494 29.0744C142.612 29.0264 142.716 28.9525 142.801 28.8583C142.885 28.7642 142.948 28.6521 142.983 28.5305C143.374 27.457 143.608 26.3326 143.677 25.1921C143.592 24.1322 141.923 24.12 142.009 25.1921C141.935 26.1798 141.722 27.1521 141.375 28.0797L142.593 27.5801C142.069 27.3243 141.619 27.2634 141.29 26.7638C140.681 25.8866 139.244 26.7638 139.853 27.6045V27.6167Z" fill="#2B3990"/>
                    <path d="M124.258 34.7136C124.49 35.0998 124.801 35.4321 125.172 35.6883C125.497 35.8515 125.83 35.9979 126.17 36.1269C126.281 36.1888 126.404 36.2249 126.53 36.2326C126.656 36.2403 126.783 36.2194 126.9 36.1713C127.017 36.1233 127.122 36.0494 127.206 35.9553C127.291 35.8611 127.353 35.749 127.388 35.6274C127.779 34.5539 128.013 33.4295 128.082 32.2891C127.997 31.2291 126.329 31.2169 126.414 32.2891C126.341 33.2768 126.128 34.249 125.781 35.1766L126.999 34.6771C126.475 34.4212 126.024 34.3603 125.695 33.8608C125.086 32.9835 123.649 33.8608 124.258 34.7014V34.7136Z" fill="#2B3990"/>
                    <path d="M143.189 33.7615C142.994 33.2619 143.347 32.4822 143.493 31.9948C143.639 31.5075 143.92 30.7765 144.066 30.1185L142.677 30.4841C143.956 31.4953 145.04 33.1401 146.648 33.6518C147.671 33.9808 148.109

32.3725 147.086 32.0436C146.458 31.7529 145.894 31.3385 145.43 30.8252C144.906 30.3378 144.407 29.8139 143.846 29.3632C143.743 29.2631 143.615 29.1914 143.475 29.155C143.336 29.1187 143.189 29.1189 143.05 29.1556C142.91 29.1923 142.782 29.2643 142.679 29.3647C142.575 29.4651 142.499 29.5904 142.458 29.7287C142.154 31.0689 141.057 32.8721 141.581 34.261C141.959 35.2601 143.566 34.8214 143.189 33.8224V33.7615Z" fill="#2B3990"/>
                    <path d="M131.785 40.3093C131.488 39.8628 131.666 39.0257 131.705 38.5184C131.744 38.0111 131.862 37.2372 131.864 36.5633L130.586 37.2163C132.051 37.9317 133.461 39.3077 135.141 39.465C136.21 39.5683 136.295 37.9036 135.226 37.8003C134.55 37.6502 133.911 37.3654 133.348 36.963C132.732 36.5984 132.132 36.193 131.489 35.872C131.366 35.7964 131.226 35.7536 131.081 35.7478C130.937 35.7421 130.794 35.7735 130.666 35.8391C130.537 35.9047 130.428 36.0022 130.348 36.1224C130.268 36.2425 130.221 36.3812 130.21 36.525C130.199 37.8993 129.513 39.8946 130.321 41.14C130.903 42.0356 132.38 41.2644 131.798 40.3688L131.785 40.3093Z" fill="#2B3990"/>
                    <path d="M93.1225 20.063C93.0652 20.3986 93.0756 20.7423 93.1528 21.0738C93.2301 21.4054 93.3727 21.7182 93.5723 21.9939C93.7719 22.2697 94.0245 22.5028 94.3154 22.6796C94.6062 22.8564 94.9294 22.9734 95.2659 23.0236C95.6097 23.0257 95.9499 22.955 96.2644 22.8161C96.5788 22.6773 96.8604 22.4734 97.0904 22.2179C97.3205 21.9625 97.4939 21.6612 97.5993 21.3339C97.7046 21.0065 97.7395 20.6606 97.7017 20.3189C97.6879 19.9675 97.551 19.6322 97.315 19.3716C97.079 19.111 96.7589 18.9417 96.4108 18.8934C95.6922 18.8836 94.9904 19.1105 94.4134 19.5391C93.3051 20.2945 92.8545 22.1708 94.1698 22.9749C95.0833 23.5354 95.9236 22.0977 95.0102 21.5372C95.0102 21.5372 95.0102 21.3057 95.0102 21.1961C95.1248 21.0129 95.2958 20.8718 95.4973 20.794C95.6435 20.7209 96.0819 20.66 96.1672 20.5382L95.9601 20.4163C95.9705 20.4563 95.9705 20.4982 95.9601 20.5382C95.9543 20.6355 95.9543 20.7332 95.9601 20.8306C95.8627 21.0864 95.5461 21.4398 95.2416 21.3545C94.9371 21.2692 94.7301 20.4407 94.7788 20.063C94.7756 19.8443 94.6874 19.6353 94.5327 19.4806C94.3781 19.326 94.1693 19.2377 93.9506 19.2345C93.7329 19.2406 93.5258 19.3299 93.3718 19.484C93.2178 19.638 93.1286 19.8452 93.1225 20.063Z" fill="#2B3990"/>
                    <path d="M101.002 23.1453C100.729 22.8304 100.348 22.6286 99.9335 22.579C99.5194 22.5295 99.1016 22.6358 98.7614 22.8773C98.5394 23.181 98.4002 23.5373 98.3575 23.9111C98.3148 24.2849 98.3701 24.6634 98.5178 25.0094C98.6218 25.3808 98.8261 25.7162 99.1084 25.9789C99.3907 26.2415 99.7399 26.4212 100.118 26.498C100.495 26.5748 100.887 26.5459 101.249 26.4144C101.612 26.2829 101.931 26.0539 102.172 25.7526C102.671 25.2165 103.292 24.1809 102.866 23.4621C102.668 23.1387 102.39 22.8714 102.06 22.6859C101.73 22.5003 101.357 22.4026 100.978 22.4021C99.2608 22.4021 98.4569 24.3759 98.8588 25.8501C98.917 26.0634 99.0574 26.2448 99.2493 26.3545C99.4412 26.4641 99.6687 26.4931 99.8819 26.4349C100.095 26.3767 100.276 26.2362 100.386 26.0443C100.496 25.8524 100.525 25.6247 100.466 25.4115C100.391 25.2073 100.371 24.9866 100.41 24.7724C100.448 24.5581 100.544 24.3581 100.686 24.1931C100.954 23.9251 101.282 24.0591 101.465 24.3515L101.38 23.7058C101.295 24.0347 100.978 24.9241 100.466 24.8388C99.9549 24.7536 99.9915 24.1444 100.113 23.8763L99.6139 24.254C99.7601 24.254 99.7357 24.1809 99.8575 24.254C100.625 25.0094 101.806 23.8276 101.075 23.0357L101.002 23.1453Z" fill="#2B3990"/>
                    <path d="M103.523 27.288C103.765 27.6967 104.131 28.0175 104.568 28.2036C105.005 28.3897 105.489 28.4314 105.952 28.3226C106.414 28.2138 106.829 27.9603 107.137 27.5988C107.445 27.2374 107.63 26.787 107.664 26.3133C107.749 25.3264 107.079 24.2177 105.959 24.4736C104.838 24.7294 104.534 26.2768 104.656 27.3489C104.665 27.5658 104.755 27.7713 104.908 27.9248C105.062 28.0783 105.267 28.1684 105.484 28.1774C105.703 28.1743 105.911 28.086 106.066 27.9313C106.221 27.7766 106.309 27.5677 106.312 27.3489C106.298 27.1095 106.298 26.8695 106.312 26.6301C106.312 26.5326 106.422 26.1671 106.397 26.1184C106.373 26.0697 106.397 25.9234 106.02

25.9234C106.044 25.9946 106.044 26.0716 106.02 26.1428C106.006 26.2532 105.973 26.3605 105.922 26.4595C105.877 26.5463 105.809 26.6191 105.725 26.6698C105.641 26.7206 105.545 26.7474 105.447 26.7474C105.35 26.7474 105.253 26.7206 105.17 26.6698C105.086 26.6191 105.018 26.5463 104.972 26.4595C104.861 26.2689 104.678 26.1303 104.465 26.0743C104.251 26.0184 104.024 26.0495 103.834 26.161C103.643 26.2725 103.505 26.4552 103.449 26.6688C103.393 26.8824 103.424 27.1096 103.535 27.3002L103.523 27.288Z" fill="#2B3990"/>
                    <path d="M110.283 23.7059C108.992 23.048 107.993 24.5831 108.383 25.7527C108.468 26.042 108.63 26.303 108.85 26.5089C109.071 26.7148 109.342 26.8581 109.636 26.924C109.931 26.9898 110.237 26.9758 110.524 26.8834C110.811 26.791 111.068 26.6236 111.269 26.3985C111.441 26.1788 111.563 25.9248 111.628 25.6537C111.693 25.3826 111.699 25.1008 111.646 24.8271C111.593 24.5534 111.482 24.2943 111.32 24.0672C111.159 23.8402 110.95 23.6505 110.709 23.5109C109.381 22.9383 108.273 24.4856 108.626 25.6675C108.684 25.8807 108.825 26.0621 109.017 26.1718C109.209 26.2815 109.436 26.3104 109.649 26.2523C109.863 26.1941 110.044 26.0536 110.154 25.8617C110.263 25.6697 110.292 25.4421 110.234 25.2288C110.234 25.3629 110.234 25.0217 110.234 25.107C110.249 25.0745 110.275 25.0486 110.307 25.0339H109.99C109.99 25.0339 109.99 25.3385 109.99 25.3507C109.99 25.3629 110.051 25.3507 110.051 25.3507C110.051 25.3507 109.966 25.2898 109.966 25.2654V25.1801C110.088 24.9608 109.917 24.9608 109.454 25.1801C110.404 25.6675 111.257 24.2298 110.295 23.7424L110.283 23.7059Z" fill="#2B3990"/>
                    <path d="M78.6612 21.3415C76.3976 22.6618 74.5915 24.6429 73.4852 27.0191C73.0031 27.9547 72.8161 29.0145 72.9487 30.0587C73.0814 31.1028 73.5275 32.0821 74.2281 32.8673C75.3729 34.3537 81.6085 38.2525 82.6803 34.768C82.9969 33.7445 81.3893 33.3059 81.0727 34.3294C80.2497 34.3295 79.4304 34.2189 78.6369 34.0004C77.8239 33.7547 77.0713 33.3417 76.4274 32.7877C75.7835 32.2338 75.2625 31.5512 74.898 30.7839C73.6801 27.9817 76.9684 23.9489 79.4894 22.7792C80.4637 22.3284 79.6112 20.8907 78.6491 21.3415H78.6612Z" fill="#2B3990"/>
                    <path d="M127.118 19.4935L84.6891 57.0728L90.0658 63.1482L132.495 25.5689L127.118 19.4935Z" fill="#D80027"/>
                    <path d="M9.03557 36.9194L9.03557 44.945C9.9256 44.0152 10.957 43.2298 12.0921 42.6176C13.2922 42.0301 14.6194 41.7453 15.9565 41.7883C17.5929 41.7527 19.2052 42.1844 20.6019 43.0322C21.9719 43.9102 23.0496 45.1715 23.6988 46.6571C24.4706 48.4287 24.8473 50.3452 24.803 52.2751C24.8267 53.7675 24.6271 55.2551 24.2105 56.6892C23.8431 57.949 23.2401 59.1288 22.4331 60.167C21.673 61.1303 20.7012 61.9081 19.592 62.4409C18.4447 62.9843 17.1871 63.2588 15.9161 63.2435C15.1344 63.2479 14.3556 63.149 13.6002 62.9492C12.9505 62.7876 12.3288 62.5306 11.7555 62.1868C11.2748 61.907 10.8237 61.5799 10.409 61.2103C10.0499 60.8715 9.6011 60.3676 9.0625 59.6988V60.2205C9.1331 61.0587 8.86685 61.8907 8.32193 62.5345C8.08926 62.7842 7.80542 62.9815 7.48954 63.113C7.17365 63.2445 6.83306 63.3073 6.49071 63.297C6.15177 63.3115 5.81384 63.2506 5.50166 63.1187C5.18947 62.9868 4.91093 62.7872 4.68641 62.5345C4.17925 61.8736 3.93911 61.0483 4.01317 60.2205L4.01317 37.12C3.95518 36.2686 4.18243 35.422 4.65948 34.7123C4.87466 34.4409 5.15169 34.2242 5.46773 34.08C5.78377 33.9358 6.12978 33.8683 6.47724 33.883C6.83119 33.8634 7.18498 33.9243 7.51166 34.061C7.83833 34.1978 8.12928 34.4068 8.36233 34.6722C8.84912 35.3176 9.08788 36.1145 9.03557 36.9194ZM9.29141 52.6229C9.17833 54.3577 9.69419 56.0753 10.7456 57.465C11.2093 58.0169 11.7934 58.4567 12.4536 58.7511C13.1139 59.0454 13.8329 59.1865 14.5562 59.1638C15.2287 59.1576 15.8908 58.9975 16.4909 58.6959C17.091 58.3943 17.6131 57.9594 18.0167 57.4249C19.0724 55.9914 19.5871 54.2348 19.4709 52.4624C19.4856 51.2332 19.2664 50.0124 18.8245 48.8642C18.5052 47.93 17.9264 47.1046 17.1549 46.4833C16.4089 45.9309 15.4999 45.6393 14.5696 45.6539C13.6069 45.6448 12.6654 45.9347 11.8767 46.4833C11.0402 47.0867 10.3916 47.9118 10.005 48.8642C9.50817 50.0499 9.26514 51.3254 9.29141 52.6095V52.6229Z" fill="#D80027"/>
                    <path

                            d="M39.5738 60.2609V59.5921C38.9883 60.3383 38.3147 61.0119 37.5675 61.5985C36.8775 62.1316 36.098 62.5392 35.265 62.8024C34.3445 63.0808 33.3861 63.2162 32.4239 63.2036C31.2228 63.2254 30.0347 62.9544 28.9634 62.4144C27.9808 61.9203 27.1591 61.1597 26.5936 60.2208C25.8316 58.7232 25.4743 57.0547 25.5568 55.3786L25.5568 44.9052C25.4935 44.0535 25.7528 43.2091 26.2839 42.5376C26.5318 42.269 26.8369 42.0587 27.177 41.9222C27.5171 41.7857 27.8836 41.7263 28.2498 41.7484C28.6132 41.7329 28.9757 41.7953 29.3126 41.9315C29.6495 42.0677 29.9529 42.2744 30.2022 42.5376C30.7429 43.2047 31.0076 44.0512 30.9428 44.9052L30.9428 53.3722C30.922 54.4107 31.026 55.448 31.2525 56.4621C31.3903 57.2026 31.7519 57.8838 32.2893 58.415C32.9068 58.9139 33.6892 59.1666 34.484 59.1239C35.3889 59.1222 36.2718 58.847 37.0154 58.3347C37.7883 57.8297 38.3928 57.1081 38.7524 56.2615C39.1457 54.6517 39.2955 52.9927 39.1967 51.3391V44.9052C39.1319 44.0512 39.3967 43.2047 39.9373 42.5376C40.1825 42.2765 40.4813 42.0709 40.8135 41.9347C41.1458 41.7985 41.5036 41.735 41.8628 41.7484C42.22 41.7343 42.5761 41.7975 42.9063 41.9338C43.2365 42.0701 43.5328 42.2761 43.7748 42.5376C44.3059 43.2091 44.5652 44.0535 44.5019 44.9052V60.2208C44.5942 61.044 44.3679 61.8712 43.8691 62.5348C43.6388 62.7769 43.3611 62.9697 43.0532 63.1015C42.7453 63.2333 42.4135 63.3013 42.0782 63.3013C41.7429 63.3013 41.4112 63.2333 41.1032 63.1015C40.7953 62.9697 40.5177 62.7769 40.2874 62.5348C39.761 61.8978 39.5051 61.0822 39.5738 60.2609Z" fill="#D80027"/>
                    <path d="M64.2012 56.3281C64.2652 57.6678 63.885 58.9913 63.1188 60.0956C62.3526 61.1998 61.2428 62.0238 59.9597 62.441C58.3224 63.0165 56.5927 63.2885 54.8565 63.2436C53.176 63.287 51.504 62.9912 49.9418 62.3741C48.76 61.9253 47.7192 61.1729 46.9257 60.1938C46.3126 59.4337 45.9715 58.4925 45.9562 57.5186C45.9525 57.2423 46.0055 56.9681 46.112 56.7129C46.2185 56.4576 46.3762 56.2266 46.5756 56.0339C46.7823 55.8303 47.0286 55.6708 47.2995 55.565C47.5704 55.4592 47.8601 55.4094 48.151 55.4186C48.6356 55.3705 49.1196 55.5148 49.4975 55.8199C49.8444 56.1504 50.1354 56.5343 50.3593 56.9568C50.8251 57.8144 51.5013 58.5413 52.3251 59.0702C53.278 59.5814 54.3541 59.822 55.4355 59.7658C56.3635 59.8054 57.281 59.5576 58.0612 59.0569C58.3546 58.8939 58.6021 58.6602 58.7809 58.3774C58.9597 58.0946 59.0641 57.7717 59.0845 57.4384C59.1115 57.0352 59.0266 56.6324 58.8391 56.2739C58.6515 55.9154 58.3684 55.6149 58.0208 55.4052C56.9176 54.8371 55.7389 54.4273 54.5199 54.188C52.9937 53.836 51.4987 53.3619 50.0496 52.7701C49.0119 52.3288 48.0904 51.6559 47.3566 50.8038C46.6156 49.9841 46.2035 48.9226 46.1986 47.821C46.1976 46.7644 46.5115 45.7311 47.1008 44.8515C47.8062 43.8501 48.7816 43.0667 49.9149 42.5909C51.3359 41.9933 52.8696 41.7059 54.4122 41.7482C55.6642 41.7343 56.9129 41.8781 58.1285 42.1763C59.0811 42.4111 59.9901 42.7949 60.8215 43.3132C61.4867 43.7233 62.0596 44.2651 62.5046 44.905C62.861 45.4026 63.0623 45.9934 63.0836 46.6037C63.0914 46.8806 63.0403 47.156 62.9336 47.4119C62.8268 47.6677 62.6669 47.8983 62.4642 48.0885C61.9798 48.5018 61.3507 48.7085 60.7138 48.6637C60.2243 48.6651 59.749 48.4999 59.3673 48.1955C58.8731 47.7971 58.4218 47.3488 58.0208 46.8579C57.6327 46.3533 57.1476 45.9305 56.5935 45.6139C55.9298 45.2843 55.1942 45.1234 54.4526 45.1457C53.6105 45.1159 52.7779 45.3296 52.0558 45.761C51.786 45.911 51.5599 46.1278 51.3994 46.3903C51.239 46.6529 51.1497 46.9522 51.1402 47.2592C51.1412 47.5214 51.2052 47.7797 51.327 48.0123C51.4488 48.245 51.6248 48.4454 51.8404 48.5968C52.4101 49.0014 53.0487 49.3005 53.7255 49.4796C54.5154 49.7115 55.6061 49.9968 56.9974 50.3357C58.3979 50.6465 59.7546 51.1271 61.0369 51.7669C61.9744 52.2294 62.7904 52.9026 63.4202 53.7332C63.9512 54.4939 64.2247 55.4027 64.2012 56.3281Z" fill="#D80027"/>
                    <path d="M66.2074 42.2161H66.7864V39.0459C66.7864 38.1542 66.8089 37.4854 66.8538 37.0395C66.9036 36.5923 67.0556 36.1622 67.2981 35.7822C67.5137 35.4129 67.8253 35.108 68.2002 34.8994C68.6092 34.6661 69.0754 34.5503 69.5467 34.565C70.2308 34.5745 70.8855 34.8423 71.378 35.314C71.7343 35.64 71.9752

36.0716 72.0647 36.5446C72.1779 37.2252 72.2275 37.9148 72.2128 38.6045V42.2027H74.0305C74.6522 42.1606 75.2671 42.3515 75.754 42.7377C75.9439 42.9052 76.0951 43.1114 76.1973 43.3423C76.2996 43.5731 76.3505 43.8232 76.3465 44.0753C76.3703 44.3787 76.3023 44.6821 76.1511 44.9467C76 45.2113 75.7726 45.4249 75.4982 45.5601C74.7332 45.8826 73.9046 46.0289 73.0745 45.9881H72.0781V55.7125C72.0704 56.3514 72.1019 56.9902 72.1724 57.6253C72.2124 58.0263 72.3771 58.405 72.6437 58.7088C72.8092 58.8605 73.0051 58.9758 73.2185 59.0473C73.432 59.1187 73.6582 59.1447 73.8824 59.1234C74.3086 59.1109 74.7325 59.0572 75.1481 58.9629C75.5595 58.87 75.9788 58.8163 76.4004 58.8024C76.618 58.8045 76.8329 58.8507 77.032 58.9381C77.2311 59.0255 77.4102 59.1523 77.5583 59.3107C77.7264 59.4766 77.8584 59.675 77.9464 59.8935C78.0344 60.112 78.0765 60.3461 78.07 60.5814C78.0656 61.0028 77.9353 61.4134 77.6955 61.7611C77.4558 62.1089 77.1175 62.378 76.7235 62.5343C75.4437 63.0532 74.0646 63.2861 72.6841 63.2165C71.3693 63.3006 70.0575 63.0131 68.9004 62.3872C68.0655 61.8606 67.4637 61.038 67.2173 60.0865C66.9157 58.7979 66.78 57.4765 66.8134 56.1539V46.0282H66.0863C65.4543 46.0694 64.8297 45.8737 64.3358 45.4798C64.1442 45.313 63.991 45.1073 63.8864 44.8765C63.7819 44.6457 63.7285 44.3953 63.7299 44.1422C63.7281 43.8865 63.784 43.6336 63.8936 43.4021C64.0031 43.1706 64.1634 42.9665 64.3628 42.8046C64.8864 42.3945 65.5413 42.1856 66.2074 42.2161Z" fill="#D80027"/>
                    <path d="M134.77 55.6192V60.0333C134.839 60.9022 134.569 61.7642 134.016 62.441C133.771 62.7031 133.473 62.9103 133.141 63.0487C132.809 63.1871 132.451 63.2535 132.091 63.2436C131.736 63.2522 131.383 63.1837 131.058 63.0428C130.732 62.9018 130.441 62.6919 130.206 62.4276C129.667 61.7492 129.403 60.8952 129.465 60.0333V45.3196C129.465 42.9476 130.332 41.7616 132.064 41.7616C132.427 41.7289 132.793 41.7878 133.127 41.9327C133.461 42.0777 133.753 42.3041 133.976 42.5909C134.423 43.3291 134.652 44.1774 134.636 45.0387C135.141 44.1139 135.801 43.2816 136.588 42.5775C137.356 41.9888 138.312 41.6944 139.281 41.7482C140.42 41.7515 141.54 42.0365 142.54 42.5775C142.981 42.7642 143.358 43.0727 143.628 43.4662C143.898 43.8598 144.048 44.322 144.061 44.798C144.069 45.0955 144.013 45.3913 143.897 45.6657C143.781 45.9402 143.607 46.1869 143.388 46.3897C143.005 46.7812 142.483 47.0071 141.934 47.0184C141.473 46.9452 141.022 46.8242 140.587 46.6572C139.95 46.4366 139.282 46.3148 138.608 46.2961C137.917 46.2678 137.239 46.486 136.696 46.9114C136.154 47.3966 135.757 48.0216 135.551 48.7171C135.253 49.6421 135.063 50.5981 134.986 51.5662C134.842 52.6363 134.77 53.9873 134.77 55.6192Z" fill="#D80027"/>
                    <path d="M162.993 56.328C163.057 57.6677 162.677 58.9912 161.911 60.0954C161.144 61.1997 160.035 62.0237 158.752 62.4409C157.114 63.0164 155.385 63.2884 153.648 63.2435C151.968 63.2868 150.296 62.9911 148.734 62.374C147.552 61.9252 146.511 61.1728 145.718 60.1937C145.104 59.4336 144.763 58.4924 144.748 57.5185C144.744 57.2422 144.797 56.968 144.904 56.7128C145.01 56.4575 145.168 56.2264 145.368 56.0338C145.574 55.8302 145.821 55.6707 146.091 55.5649C146.362 55.4591 146.652 55.4093 146.943 55.4185C147.427 55.3704 147.911 55.5147 148.289 55.8198C148.636 56.1503 148.927 56.5342 149.151 56.9567C149.617 57.8143 150.293 58.5412 151.117 59.0701C152.07 59.5813 153.146 59.8219 154.227 59.7657C155.155 59.8053 156.073 59.5575 156.853 59.0568C157.146 58.8938 157.394 58.6601 157.573 58.3773C157.752 58.0945 157.856 57.7716 157.876 57.4383C157.903 57.0351 157.818 56.6323 157.631 56.2738C157.443 55.9153 157.16 55.6148 156.813 55.4051C155.709 54.837 154.531 54.4272 153.312 54.1879C151.786 53.8359 150.291 53.3617 148.841 52.77C147.804 52.3287 146.882 51.6558 146.148 50.8037C145.407 49.984 144.995 48.9225 144.99 47.8209C145 46.7496 145.333 45.7058 145.946 44.8246C146.652 43.8233 147.627 43.0398 148.761 42.5641C150.182 41.9664 151.715 41.679 153.258 41.7214C154.51 41.7074 155.759 41.8513 156.974 42.1494C157.927 42.3843 158.836 42.7681 159.667 43.2864C160.332 43.6964 160.905 44.2383 161.35 44.8781C161.707 45.3758 161.908 45.9665

161.929 46.5769C161.937 46.8537 161.886 47.1291 161.779 47.385C161.673 47.6409 161.513 47.8714 161.31 48.0616C160.826 48.4749 160.196 48.6816 159.559 48.6368C159.07 48.6383 158.595 48.473 158.213 48.1686C157.719 47.7703 157.268 47.322 156.867 46.831C156.478 46.3265 155.993 45.9036 155.439 45.5871C154.751 45.2442 153.986 45.083 153.218 45.1189C152.375 45.089 151.543 45.3028 150.821 45.7342C150.54 45.8812 150.303 46.1 150.135 46.368C149.967 46.6359 149.874 46.9435 149.865 47.2591C149.866 47.5213 149.93 47.7795 150.052 48.0122C150.173 48.2449 150.349 48.4453 150.565 48.5967C151.135 49.0013 151.773 49.3004 152.45 49.4795C153.24 49.7113 154.331 49.9967 155.722 50.3356C157.122 50.6464 158.479 51.127 159.761 51.7668C160.699 52.2293 161.515 52.9025 162.145 53.7331C162.7 54.4857 162.997 55.3952 162.993 56.328Z" fill="#D80027"/>
                </g>
                <defs>
                    <filter id="filter0_d" x="0" y="0" width="167" height="81.9998" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                </defs>
            </svg>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-3">
                                <hr>
                            </div>
                            <div class="col-md">
                                <span class="number UpperCase">01</span>
                                <p class="UpperCase">Зарегистрируйся</p>
                                <p>и получи в награду монеты BrandCoin</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-3">
                                <hr>
                            </div>
                            <div class="col-md">
                                <span class="number UpperCase">02</span>
                                <p class="UpperCase">Поделись фэйком</p>
                                <p>Если сомневаешься в подлинности товара, сфотографируй и залей в этот блог</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-3">
                                <hr>
                            </div>
                            <div class="col-md">
                                <span class="number UpperCase">03</span>
                                <p class="UpperCase">Получай и трать</p>
                                <p>за фото сомнительных товаров мы раздаем монеты - BrandCoin. Ты их сможешь потратить на оригинальные товары нашей платформы</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<main role="main" class="container main">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav">
            <a class="p-2 text-muted" href="#">Продукты</a>
            <a class="p-2 text-muted" href="#">Бытовая химия</a>
            <a class="p-2 text-muted" href="#">Косметика</a>
            <a class="p-2 text-muted" href="#">Детские товары</a>
            <a class="p-2 text-muted" href="#">Зоотовары</a>
            <a class="p-2 text-muted" href="#">Аптека</a>
            <a class="p-2 text-muted" href="#">Одежда и обувь</a>
            <a class="p-2 text-muted" href="#">Авто</a>
            <a class="p-2 text-muted" href="#">Электроника</a>
            <a class="p-2 text-muted" href="#">Алкоголь</a>
            <a class="p-2 text-muted" href="#">Табак</a>
            <a class="p-2 text-muted" href="#">Ювелирные товары</a>
            <a class="p-2 text-muted" href="#">Другое</a>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-8 blog-main">
            <a href="#" class="first-button">
                <button class="btn btn-danger UpperCase">Сообщить о фэйке</button>
            </a>
            <h3 class="pb-3 mb-4 border-bottom">
                Фото товаров, которые подозреваются
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title UpperCase">Вода бонаква</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="#">Svetlana H</a></p>

                <img src="/img/preview.jpg" alt="Товар">

                <p>Где я ее купил(а): Москва</p>
                <p>Почему я подозреваю фэйк: Некачественная упаковка, смазанная печать</p>
                <a href="#">#вода</a> <a href="#">#продукты</a>
                <a href="#" class="comment">Комментарии</a>
            </div><!-- /.blog-post -->

            <hr>

            <div class="blog-post">
                <h2 class="blog-post-title UpperCase">Вода бонаква</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="#">Svetlana H</a></p>

                <img src="/img/preview.jpg" alt="Товар">

                <p>Где я ее купил(а): Москва</p>
                <p>Почему я подозреваю фэйк: Некачественная упаковка, смазанная печать</p>
                <a href="#">#вода</a><a href="#">#продукты</a>
                <a href="#" class="comment">Комментарии</a>
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ПОИСК ФЭЙКА" aria-label="ПОИСК ФЭЙКА" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary UpperCase" type="button" id="button-addon2">Найти</button>
                </div>
            </div>

            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic UpperCase">О проекте</h4>
                <p class="mb-0">Мы - первая Глобальная децентрализованная платформа оригинальных товаров и брендов на блокчейне и нейронных сетях. Наша миссия - война с фэйком и нонейм!</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic UpperCase">Георграфия проекта</h4>
                <script type="text/javascript" src="//ra.revolvermaps.com/0/0/8.js?i=0lj3izs85xu&amp;m=6&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
            </div>

            <div class="p-3 callback">
                <h4 class="font-italic UpperCase">Подписка на новые записи</h4>
                <form action="#">
                    <input class="form-control" type="text" placeholder="ИМЯ" name="name">
                    <input class="form-control" type="email" placeholder="EMAIL" name=email>
                    <button type="submit" class="btn btn-danger UpperCase">Подписаться</button>
                </form>
            </div>

            <div class="p-3">
                <h4 class="font-italic UpperCase">Соц. сети</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>

        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

<!--<footer class="blog-footer">-->
<!--<p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
<!--<p>-->
<!--<a href="#">Back to top</a>-->
<!--</p>-->
<!--</footer>-->

<script src="/js/scripts.min.js"></script>

</body>
</html>